{{<layout}}
{{$content}}
 <h2 id="tables-striped">Categories</h2>
	  <table class="table table-striped">
	  	<tr>
	  		<th>ID</th>
	  		<th>Name</th>
	  	</tr>
	{{#commands}}
		<tr>
			<td>{{id}}</td>
			<td><a href="/categories/{{id}}">{{name}}</a></td>
		</tr>
	{{/commands}}
	</table>
<form action="/categories/new">	
	<button type="submit" class="btn btn-primary">New</button>
</form>
{{/content}}
{{/layout}}