{{<layout}}
{{$content}}<table>
	<tr>
		<th>Name</th>
		<th>Exec Path</th>
	</tr>
	{{#commands}}
		<tr>
			<td><a href="/commands/{{id}}">{{name}}</td>
			<td>{{execPath}}</td>
		</tr>
	{{/commands}}
</table>
<br>
<form action="/commands/new">
	<input type="submit" value="New"/>
</form>
{{/content}}
{{/layout}}