<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>EXEC SERVER</title>
</head>
<body>
<a href="/commands">Commands</a>
<a href="/exec_requests">Exec Requests</a>
<p>
{{$content}}No Content{{/content}}
</body>
</html>